version: '3.8'

services:
  # 1. THE AI BACKEND SERVICE
  backend:
    build: ./Civic-Ai
    container_name: civic_backend
    ports:
      - "8000:8000"
    
    # --- CRITICAL FIX: Load Secrets ---
    env_file:
      - ./Civic-Ai/.env
    
    # Persist images even if container restarts
    volumes:
      - ./Civic-Ai/static/uploads:/app/static/uploads

  # 2. THE REACT FRONTEND SERVICE
  frontend:
    build: ./citizen_app/citizen_app
    container_name: civic_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend